.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  font-family: Arial, sans-serif;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.name {
  font-weight: bold;
  font-size: 18px;
}

.nav-right a {
  text-decoration: none;
  color: black;
  margin: 0 5px;
}

.nav-right span {
  margin: 0 5px;
}

.title h2 {
  text-align: center;
  font-family: 'Georgia', serif;
  font-size: 36px;
  margin: 40px 0 10px 0;
}

.title p{
  text-align: center;
}

hr {
  margin-top: 100px;
}