.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  font-family: Arial, sans-serif;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.name {
  font-weight: bold;
  font-size: 18px;
}

.nav-right a {
  text-decoration: none;
  color: black;
  margin: 0 5px;
}

.nav-right span {
  margin: 0 5px;
}

.title h2 {
  text-align: center;
  font-family: 'Georgia', serif;
  font-size: 36px;
  margin: 40px 0 10px 0;
}

.title p{
  text-align: center;
}

hr {
  margin-top: 100px;
}

.projects {
  width: 220px;
  border-right: 2px solid black;
  padding: 1px;
}

.projects h3 {
  margin-bottom: 12px;
  margin-top: 10px;
  text-decoration: underline;
  font-family: 'Georgia', serif;
}

.projects ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.projects li {
  padding: 10px 0;
  border-top: 1px solid black;
}

.work-exp h3{
  margin-bottom: 12px;
  margin-top: 10px;
  padding-left: 10px;
  text-decoration: underline;
  font-family: 'Georgia', serif;
}

.work-exp p{
  margin-top: 10px;
  padding-left: 10px;
}

.work-exp{
  margin-bottom: 0;
}

.middle {
  display:flex
}